body {
    background-color: #87CEEB; /* Azul claro estilo céu */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif; /* Deixa as letras mais modernas e fáceis de ler */
}

h1 {
    color: #003366; /* Um azul escuro bonitão para dar contraste com o fundo */
    font-size: 50px;
}