body {
    background-color: #121212; /* Um cinza bem escuro, estilo palco de show */
    color: #ffffff; /* Deixa os textos normais brancos */
}

h1 {
    color: #f1c40f; /* Um amarelo dourado bem bonito */
    font-size: 50px;
}